* {
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
    margin: 80px;
}

.button-container {
    display: flex;
    justify-content: center;
}

button {
    font-size: 20px;
    width: 100px;
    height: 40px;
    margin: 0px 20px;
}

.results-container, .score-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    font-size: 40px;
    font-weight: bold;
}

.result {
    width: 600px;
    margin-left: 20px;
    text-align: center;
}

.player-score, .cpu-score {
    margin: 0px 15px;
}

.round-winner {
    text-align: center;
}

.reset {
    display: flex;
    width: 100%;
    justify-content: center;
}